.btn, .thumbnail, .form-control {
    border-radius: 0;
   }
   .btn-primary.custom-btn {
	background-color: #c3bebe;
	border-color: #c9c5c5;
}
.btn-primary.custom-btn-red {
	background-color: #a6024b;
	border-color: #a6024b;
}
#resizeToDiv div, .card, .card-body, .thumbnail, img {
  max-width: 100%;
  }
#resizeToDiv div, .card{

}
.fa-heart {
  color: black;
}

.fa-heart.active {
  color: rgb(46, 46, 184);
}
